header {
    background: purple;
    padding: 1rem;
    color: white;
}
body.header-not-at-top header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
body.header-not-at-top {
    padding-top: 44px;
}
#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 500px;
    left: 0;
}
body {
    
    line-height: 1.4;
    font-size: 125%;
    margin: 0;
    padding: 10px;
}
main {
    max-width: 500px;
    margin: 20px auto;
}